body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100vh;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 120px;
  background-color: pink;
}

label {
  margin-bottom: 5px;
}

input {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  border: 2px solid black !important;
}

p {
  font-size: 14px;
  text-align: center;
  width: 240px;
}

button {
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
  background-color: aqua;
  font-weight: bold;
}

button:hover {
  background-color: aquamarine;
}
